.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

/*login--------------------------------------*/
#login{
 text-align: center;
}
/*Imágen*/
#login-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 27%;
}
/*Título*/
#login h3{
  font-weight: bold;
  margin-bottom: 20px;
}
/*Inputs*/
#login input{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Errores*/
.error{
  border-color: red;
  color: red;
}
/*Botón*/
#login button{
  margin-top: 30px;
  width: 120px;
  height: 40px;
  color: white;
  background-color: #005ff7;
  border: none;
  border-radius: 5%;
}

#login button:hover{
  border-style: solid;
  border-color:#579aff;
  background-color: #065be3;
}
/*Footer*/
.texto-footer{
  text-align: left;
}
/*Termina login----------------------*/

/*Productos agregados a productos*/
#encabezado{
  margin: 2rem;
}
h1,p{
  text-align: center;
}

#filtros{
  margin-left: 8.2%;
  margin-right: 8.2%;
  margin-bottom: 10px;
  padding-left: 58%;
}
#botones{
  padding-left:62%;
  border-radius: 3px;
  margin-bottom: 10px;
}

#filtros button{
  border-radius: 3px;
  background-color: rgb(237, 235, 235);
  border-color:rgb(237, 235, 235);
}

#filtros button:hover{
  border-color: rgba(235, 235, 237, 0.297);
}
#filtros input{
  border-radius: 3px;
  border-color: gray;
  width: 100px;
}

#limpiar{
  color:#1d73fd9f;
}

#limpiar:hover{
  text-decoration: underline;
}

/*products_info*/

/*contenedores*/
.container_info{
  padding-left: 8%;
  padding-right: 5%;
}

/*encabezado*/
#encabezado_info{
  margin-top: 20px;
}
#encabezado_info h1{
  text-align: left;
  color:gray
}

/*contenedor main*/

#container_info p{
  text-align:left;
}
#imagenes img{
width: 260px;
margin-top: 20px;
margin-right: 30px;
margin-bottom: 20px;
}

/*Productos relacionados*/


#prod_relacionados img{
  
max-width: 100%;

}

#prod_relacionados div{
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  margin-left: 50px;
  padding-left:10px;
  padding-top: 20px;

}
#prod_relacionados div:hover{
  cursor:pointer
}

#prod_relacionados p{
  display: inline-block;
}

/*comentarios*/
#comentarios h1, #comentarios p {
  text-align: left;
}
#comentarios div{
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(128,128, 128, 0.5);
}
/*comentar*/

#comentar{
  margin-top: 20px;
}
#comentar h1{
text-align: left;
}

#comentar p{
  text-align: left;
  }
#comentar textarea{
  width: 40%;
  height: 100px;
}

#comentar select{
  width: 10%;
}
.checked {
  color: orange;
}

/*Barra de navegación*/
.dropdown-item:active{
  background-color:#6c757d;
}

#carrito_hr{
  height:2px;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*Cart*/

.caja{
  border-style: solid;
  border-color: #6c757d;
  border-width: 1px;
}

/*Termina estilos agregados a productos*/

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}